body{
  	background:rgb(27, 27, 78);
}
h1{
	color:white;
	text-align:center;
}
section{
    border-radius: 10px;
	font:20pt Arial;
   	background:white;
    margin:auto;
    margin-top:10px;
    width:700px;
    height:auto;
    padding-bottom:50px;
    padding-left:10px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.363);
}
div{

}
footer{
	color:white;
	text-align:center;
    font-style:italic;
}
