body{
  	background:gray;
}
h1{
	color:white;
	text-align:center;
}
section{
    border-radius: 10px;
	font:20pt Arial;
   	background:white;
    margin:auto;
    margin-top:10px;
    width:500px;
    height:auto;
    padding-bottom:50px;
    padding-left:10px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.363);
}
input{
    margin-top:30px;
}
input#botao{
    margin-bottom:30px;
}
footer{
	color:white;
	text-align:center;
    font-style:italic;
}
